.c-banner-hero {
  position: relative;

  .c-field-background-image {
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      box-shadow: inset 0px 0px 20px rgba(0,0,0,.5);
      transition: $project-transition;

      @include breakpoint(large up) {
        box-shadow: inset 0px 0px 75px rgba(0,0,0,.5);
      }
    }

    img {
      transition: $project-transition;
    }
  }

  &--linked {
    @include hover-focus() {
      .c-field-background-image::after {
        box-shadow: inset 0px 0px 10px rgba(0,0,0,.2);

        @include breakpoint(large up) {
          box-shadow: inset 0px 0px 60px rgba(0,0,0,.2);
        }
      }

      img {
        transform: scale(1.1);
      }
    }
  }
}
