.c-banner-hero {
  position: relative;

  .c-field-background-image {
    &:after {
      content: '';
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      box-shadow: inset 0px 0px 100px rgba(0,0,0,.5);
    }
  }
}
