.c-block {
  padding-left: rvr(1);
  padding-right: rvr(1);

  &.c-simple-instagram-block {
    padding-left: 0px;
    padding-right: 0px;
  }

  &.c-inline-blockbasic {
    padding-top: rvr(1);
    padding-bottom: rvr(1);
  }

  &__subheading {
    text-transform: none !important;
    color: get-color(secondary);
    text-align: center;
    font-size: rem-calc(24);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  > h2:first-child() {
    text-align: center;
  }

  @include breakpoint(medium down) {
    .columns {
      margin-bottom: rvr(2);
    }
  }

  .icon-divider {
    display: flex;
    justify-content: center;
    margin-bottom: rvr(1);

    .icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      overflow: hidden;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
