.c-block {
  padding-left: rvr(2);
  padding-right: rvr(2);

  &.c-simple-instagram-block {
    padding-left: 0px;
    padding-right: 0px;
  }

  &.c-inline-blockbasic {
    padding-top: rvr(1);
    padding-bottom: rvr(1);
  }

  &__subheading {
    text-transform: none !important;
    color: get-color(secondary);
  }

  @include breakpoint(medium down) {
    > h2:first-child() {
      text-align: center;
    }

    .columns {
      margin-bottom: rvr(2);
    }
  }
}
