.c-block {
  padding-left: rvr(2);
  padding-right: rvr(2);

  @include breakpoint(medium down) {
    > h2:first-child() {
      text-align: center;
    }

    .columns {
      margin-bottom: rvr(2);
    }
  }
}
