.view-footer {
  margin: rvr(1) 0;
}

.c-checkout-form {
  display: grid;
  grid-template-areas:
    'summary'
    'main'
    'footer';
  grid-template-columns: minmax(300px, auto);

  @include breakpoint(xlarge up) {
    grid-template-areas:
      'main summary'
      'footer footer';
    grid-template-columns: 1fr minmax(300px, 40%);
    column-gap: rvr(2);
    row-gap: rvr(2);
  }

  &__main {
    grid-area: main;
  }

  &__secondary {
    grid-area: summary;
  }

  &__footer {
    grid-area: footer;
  }
}

.checkout-pane-payment-information {
  .fieldset-legend {
    margin-bottom: rvr(1);
  }
}

.block-commerce-cart-flyout {
  width: rem-calc(55);
  height: rem-calc(55);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $project-transition;

  @include hover-focus() {
    box-shadow: 8px 8px 8px rgba(0,0,0,.7);
  }
}

.cart-block {
  &--summary {
    position: relative;

    svg {
      color: $white;
    }
  }

  &--summary__count {
    background: get-color(tertiary);
    height: rem-calc(20);
    width: rem-calc(20);
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: 14px;
    text-align: center;
    color: get-color(primary);
    font-size: rem-calc(14);
    font-weight: 700;
    line-height: rem-calc(18);
    overflow: hidden;
  }

  &--offcanvas-cart-table {
    margin: 0 !important;
  }

  &--offcanvas-cart-table__title {
    min-width: 100px;
  }

  &--offcanvas-cart-table__quantity {
    input {
      min-width: 50px;
      margin-bottom: 0;
    }
  }

  &--offcanvas-contents__links {
    display: flex;
    justify-content: center;

    a {
      cursor: pointer;
      display: inline-block;
      padding: rvr(0.5) rvr(1.5);
      transition: background-color 0.2s ease-in;
      text-transform: uppercase;
      background-color: $white;
      border: 0;
      color: $black;
      border: 2px solid $black;
      width: 75%;
      text-align: center;

      @include hover-focus() {
        text-decoration: none;
        color: $white;
        background-color: $dark-gray;
      }
    }
  }
}
