$marketing-site-hero-height: 65vh;

.marketing-site-hero {
  background: top right no-repeat;
  height: $marketing-site-hero-height;
  background-size: cover;
  display: flex;
  align-items: center;

  @media screen and (min-width: 40em) {
    background-position: center center;
  }
}

.marketing-site-hero-content {
  max-width: $global-width;
  padding-left: 5%;
  padding-right: 5%;

  @include breakpoint(medium up) {
    width: 65%;
  }

  @include breakpoint(small down) {
    text-align: center;
    margin: auto;
  }

  &--center {
    @include breakpoint(medium up) {
      text-align: center;
      margin: auto;
    }
  }

  &--left {
    @include breakpoint(medium up) {
      text-align: left;
    }
  }

  &--right {
    @include breakpoint(medium up) {
      margin-right: 5%;
      margin-left: auto;
    }
  }

  h1 {
    font-size: 60px;
    font-weight: bold;
  }

  p {
    font-size: 32px;
  }

  .button.round {
    border-radius: 5000px;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0;
  }
}
