$marketing-site-hero-height: 450px;
$marketing-site-hero-height-max: 850px;

.marketing-site-hero {
  background: top right no-repeat;
  min-height: $marketing-site-hero-height;
  max-height: $marketing-site-hero-height-max;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: rvr(5) rvr(3) rvr(4);
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .55;
    transition: .35s opacity ease;
    pointer-events: none;
  }

  .columns & {
    height: 100%;
  }

  @media screen and (min-width: 40em) {
    background-position: center center;
  }
}

.marketing-site-hero-content {
  max-width: $global-width;
  padding-left: 5%;
  padding-right: 5%;
  color: $white;
  z-index: 3;

  @include breakpoint(medium up) {
    width: 65%;
  }

  @include breakpoint(small down) {
    text-align: center;
    margin: auto;
  }

  &--center {
    @include breakpoint(medium up) {
      text-align: center;
      margin: auto;
    }
  }

  &--left {
    @include breakpoint(medium up) {
      text-align: left;
    }
  }

  &--right {
    @include breakpoint(medium up) {
      margin-right: 5%;
      margin-left: auto;
    }
  }

  h1,
  .h1 {
    font-weight: bold;

    @include breakpoint(medium up) {
      font-size: 60px;
    }
  }

  h2,
  .h2 {
    font-weight: bold;
    @include breakpoint(medium up) {
      font-size: 50px;
    }
  }

  p {
    font-size: 24px;
  }

  .button.round {
    border-radius: 5000px;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0;
  }

  &__video {
    height: auto;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    z-index: -1;
    object-fit: cover;
  }
}
