.l-hero-row {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;

  .c-block {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.hero-image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
