{# Set background color #}
{% set bg_color = paragraph.field_background_color.value ? 't-background--' ~ paragraph.field_background_color.value|clean_class : 't-background--none' %}

{% set classes = [
  'l-section',
  'l-section--align-' ~ paragraph.field_horizontal_alignment.value,
  'l-section--' ~ paragraph.field_section_width.value,
  'columns',
  'small-12',
  bg_color
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="l-section__content">
  {% if content.field_title|render %}
    <h2 class='c-block__title h1'>{{ content.field_title }}</h2>

    {% if content.field_subheading %}
      <div class="c-block__subheading u-vr__mb--1">{{ content.field_subheading }}</div>
    {% endif %}
  {% endif %}
  {{ content|without('field_title', 'field_subheading', 'field_horizontal_alignment', 'field_section_width', 'field_background_color') }}
  </div>
</div>
