.c-cocktail-featured {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include breakpoint(medium up) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__image {
    @include breakpoint(medium up) {
      flex: 0 0 50%;
    }
  }

  &__content {
    padding: rvr(2);
    height: min-content;
  }

  &__label {
    font-size: rem-calc(24);
    font-weight: $global-weight-bold;
    color: get-color(tertiary);
  }
}

.c-views-blockcocktails-block-2 {
  max-width: $project-subsection-max-width;
  margin: auto;
}
