.c-cocktail-teaser,
.c-slushee-teaser {
  display: flex;
  margin-bottom: rvr(1);
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  padding-right: rem-calc(24);

  @include breakpoint(small down) {
    margin: rvr(1) auto;
  }

  &__title {
    font-family: $font-family-bebas !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  &__price {
    font-family: $font-family-bebas !important;
    color: $text-gray !important;
  }
}
