{% extends "node--teaser.html.twig" %}

{% block content %}
	<div class="c-beer-teaser__photo">
		{{ content.field_preview_image }}
	</div>

  <div class="c-beer-teaser__title h3">
    {{ label.0['#context'].value }}
  </div>

  <div class="c-beer-teaser__style h4">
    {{content.field_style}}
  </div>
{% endblock %}

