.c-team-member-teaser {
  text-align: center;
  padding: rvr(1) rvr(0.5);

  &__title {
    margin-bottom: 0;
    font-family: $font-family-bebas;
    font-size: rem-calc(50) !important;
    line-height: rem-calc(48) !important;
    margin-top: rvr(1);
  }

  &__subtitle {
    text-transform: uppercase;
    color: get-color(secondary);
    font-family: $font-family-bebas;
    font-size: rem-calc(33) !important;
  }
}
