{#
/**
 * @file
 *
 * Empty cart page template.
 *
 * @ingroup themeable
 */
#}
<div class="l-container u-vr__my--4">
  <div class="l-row l-row--no-columns justify-content-center">
    <div class="c-cart-empty">
      <div class="c-cart-empty__logo u-vr__mb--2">
        <a href="/">
          <img src="/{{ base_path ~ directory }}/logo.svg" alt="{{ 'Home'|t }}" style="width: 300px; background-color: black;"/>
        </a>
      </div>
      <div class="c-cart-empty__text">
        <div class="h1">{{ 'Your shopping cart is empty.'|t }}</div>
      </div>
    </div>
  </div>
</div>
