{#
/**
 * @file
 * Default theme implementation for checkout panes.
 *
 * Available variables:
 * - elements: The checkout pane's form elements.
 *
 * @ingroup themeable
 */
#}
<div class="u-vr__my--1">
  <p>Payment is securly connected and verified through <a href="https://squareup.com/us/en" target="_blank">Square</a>.</p>
</div>
{{ elements }}
