.c-footer {
  &__left {
    position: relative;

    &::after {
      @include breakpoint(medium up) {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        display: block;
        clear: both;
        height: 100%;
        width: 8px;
        background-color: $white;
      }
    }
  }

  &__hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center !important;

    h3 {
      font-size: rem-calc(24);
      margin-bottom: rem-calc(24);
    }

    p {
      margin-bottom: rem-calc(12);
    }
  }

  &__bottom {
    position: relative;

    // Simulate edge to edge background
    &::before,
    &::after {
      @include breakpoint(medium up) {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        bottom: 0;
        left: -4800px;
        width: 9600px;
        background: get-color(primary);
        z-index: -1;
      }
    }

    .columns {
      @include breakpoint(medium down) {
        margin-bottom: rem-calc(24);
      }
    }
  }

  &__logo {
    display: flex;
    justify-content: center;

    img {
      height: 100px;
      width: 100px;
    }
  }

  &__icon {
    margin: 0 rem-calc(4);
  }
}
