footer {
  padding: 40px 0;

  .site-logo img {
    max-width: rem-calc(150);
  }

  .columns {
    padding: rem-calc(16);

    @include breakpoint(medium up) {
      padding: 0 rem-calc(32);
    }

    &:not(:first-child) {
      @include breakpoint(medium up) {
        border-left: 1px solid $medium-gray;
      }
    }
  }

  .info.address {
    display: flex;
    align-items: center;

    address {
      margin-left: rem-calc(16);
    }

    p {
      margin-bottom: 0;
    }

    svg {
      color: $medium-gray;
    }
  }
}
