.c-footer {
  &__left {
    position: relative;
  }

  &__hours {
    .block-title {
      font-size: rem-calc(37);
      margin-bottom: rem-calc(24);
      color: $white;
    }

    p {
      margin-bottom: rem-calc(12);
    }
  }

  &__bottom {
    position: relative;

    // Simulate edge to edge background
    &::before,
    &::after {
      @include breakpoint(medium up) {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        bottom: 0;
        left: -4800px;
        width: 9600px;
        background: get-color(primary);
        z-index: -1;
      }
    }

    .columns {
      @include breakpoint(medium down) {
        margin-bottom: rem-calc(24);
      }
    }
  }

  &__logo {
    display: flex;
    justify-content: center;

    img {
      height: rem-calc(150);
      width: rem-calc(150);
    }
  }

  &__icon {
    margin: 0 rem-calc(4);
  }
}
