.c-mobile-menu {
  // mmenu variables
  --mm-offset-top: #{rem-calc(75)};
  --mm-color-background: #{$white};
  --mm-color-border: #{$border-color};
  --mm-color-text: #{$black};
  --mm-color-button: #{$black};
  --mm-listitem-size: #{rem-calc(64)};

  top: rem-calc(60) !important;

  // Prevent screen from flashing
  &:not(.mm-menu) {
    display: none;
  }

  // Push the menu futher down when logged into admin
  .toolbar-vertical & {
    top: 97 !important;
  }

  // General menu link styles
  &__link {
    font-weight: $global-weight-bold;
  }

  // Add box effect around icons
  &__icon-backdrop {
    position: absolute;
    height: 100%;
    width: rem-calc(59);
    top: 0;
    right: 0;
    background-color: $white;
    border-left: 1px solid $border-color;
  }

  // General panel link classes
  // mmenu strips classes from span so we can't use own classes
  .mm-btn {
    width: 59px;

    &::after {
      right: rem-calc(29);
      border-width: 3px;
    }

    &_prev {
      &::before {
        border-width: rem-calc(3);
      }
    }
  }

  // Navbars styling
  // stylelint-disable selector-class-pattern
  .mm-navbar {
    &:first-child {
      height: 64px;
      background-color: $medium-gray;
      border-bottom: 1px solid $border-color;
    }

    &__title {
      color: $black;
      background-color: $medium-gray;
      border-top: 3px solid $medium-gray;
      justify-content: flex-start;
      padding-left: $global-margin;
    }

    a {
      color: $black !important;
    }

    .mm-btn_prev::before {
      left: 29px;
    }
  }
  // stylelint-enable selector-class-pattern
}
