.l-section {
  position: relative;
  padding-top: rvr(1);
  padding-bottom: rvr(1);

  &::before,
  &::after {
    @include breakpoint(medium up) {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      bottom: 0;
      left: -4800px;
      width: 9600px;
      z-index: -1;
    }
  }

  &--has-background-image {
    font-weight: bold;
    color: $white !important;

    .l-section__image {
      position: absolute;
      left: 50%;
      top: 50%;
      height: auto;
      width: auto;
      min-height: 100%;
      min-width: 100vw;
      transform: translate(-50%, -50%);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &::after {
        content: '';
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        box-shadow: inset 0px 0px 20px rgba(0,0,0,.5);
        transition: $project-transition;

        @include breakpoint(large up) {
          box-shadow: inset 0px 0px 75px rgba(0,0,0,.5);
        }
      }
    }
  }

  &__content {
    width: 100%;
    position: relative;
    z-index: 2;

    .l-section--100 & {
      @include breakpoint(large up) {
        width: 100%;
      }
    }

    .l-section--75 & {
      @include breakpoint(large up) {
        width: 75%;
      }
    }

    .l-section--67 & {
      @include breakpoint(large up) {
        width: 67%;
      }
    }

    .l-section--50 & {
      @include breakpoint(large up) {
        width: 50%;
      }
    }

    .l-section--align-left & {
      margin-right: auto;
      text-align: left !important;

      .icon-divider {
        justify-content: left !important;
      }
    }

    .l-section--align-center & {
      margin-left: auto;
      margin-right: auto;
      text-align: center !important;

      .icon-divider {
        justify-content: center !important;
      }
    }

    .l-section--align-right & {
      margin-left: auto;
      text-align: right !important;

      .icon-divider {
        justify-content: flex-end !important;
      }
    }
  }
}
