.l-section {
  position: relative;

  &::before,
  &::after {
    @include breakpoint(medium up) {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      bottom: 0;
      left: -4800px;
      width: 9600px;
      z-index: -1;
    }
  }

  &__content {
    width: 100%;
    .l-section--100 & {
      @include breakpoint(large up) {
        width: 100%;
      }
    }

    .l-section--75 & {
      @include breakpoint(large up) {
        width: 75%;
      }
    }

    .l-section--67 & {
      @include breakpoint(large up) {
        width: 67%;
      }
    }

    .l-section--50 & {
      @include breakpoint(large up) {
        width: 50%;
      }
    }

    .l-section--align-left & {
      margin-right: auto;
      text-align: left !important;

      .icon-divider {
        justify-content: left !important;
      }
    }

    .l-section--align-center & {
      margin-left: auto;
      margin-right: auto;
      text-align: center !important;

      .icon-divider {
        justify-content: center !important;
      }
    }

    .l-section--align-right & {
      margin-left: auto;
      text-align: right !important;

      .icon-divider {
        justify-content: flex-end !important;
      }
    }
  }
}
