.c-beer {
  width: 80%;
  margin: auto;

  &__prop {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: rvr(0.33);

    &-label {
      font-weight: 700;
      text-transform: capitalize;
      width: 200px;
      color: get-color(warning);
    }
  }

  &-teaser {
    display: flex;
    margin-bottom: rvr(1);
    flex-direction: column;
    flex-wrap: wrap;

    @include breakpoint(small down) {
      margin: rvr(1) auto;
    }

    @include breakpoint(medium up) {
      padding-right: rem-calc(16);
      flex-direction: row;
      flex-wrap: nowrap;
    }

    &__photo {
      overflow: hidden;

      @include breakpoint(small down) {
        margin-bottom: rvr(1);
      }

      .c-field-media-image {
        display: flex;

        img {
          width: 300px;
          margin: auto;
        }
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1;
    }

    &__secondary {
      display: flex;
      flex-direction: column-reverse;

      @include breakpoint(medium up) {
        flex-direction: row;
      }
    }

    &__title {
      display: flex;
      font-size: rem-calc(28) !important;
      font-weight: $global-weight-bold;
      margin-bottom: 0px !important;
    }

    &__style {
      display: flex;
    }

    &__props {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      flex: 0;

      @include breakpoint(medium up) {
        flex-direction: column;
        justify-content: center;
        padding: 0 rem-calc(16);
      }
    }

    &__prop {
      display: flex;
      justify-content: flex-end;
      flex-direction: column-reverse;
      padding: rem-calc(16) 0;
      text-align: center;

      @include breakpoint(medium up) {
        justify-content: center;
        flex-direction: column;
        border-bottom: 1px solid $black;
      }

      &:first-child {
        @include breakpoint(medium up) {
          padding: rem-calc(8) 0 rem-calc(16) 0 !important;
        }
      }

      span:first-child {
        font-weight: bold;
        color: get-color(warning);
        font-size: rem-calc(32);
        line-height: rem-calc(26);
        letter-spacing: -0.8px;
      }

      span:nth-child(2) {
        color: $dark-gray;
        font-weight: bold;
        font-size: rem-calc(12);
      }

      &--availability {
        .c-field-availability {
          font-size: rem-calc(20);
        }

        @include breakpoint(medium up) {
          span:first-child {
            padding: rem-calc(6) 0;
          }
        }
      }
    }

    * {
      transition: all .2s ease-in-out;
    }

    @include hover-focus() {
      img {
        transform: scale(1.1);
      }
    }
  }
}
