.c-beer {
  &-teaser {
    display: flex;
    margin-bottom: rvr(1);
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: rem-calc(16);

    @include breakpoint(small down) {
      width: 80%;
      margin: auto;
    }

    @include breakpoint(medium up) {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    a & {
      @include hover-focus() {
        color: $black;
      }
    }

    &__photo {
      overflow: hidden;

      .c-field-media-image {
        display: flex;

        img {
          width: 300px;
          margin: auto;
        }
      }
    }

    &__details {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      flex: 1;
    }

    &__title {
      display: flex;
      h3 {
        margin: 0;
      }
    }

    &__style {
      display: flex;
    }

    &__props {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 rem-calc(24) 0 rem-calc(16);
    }

    &__prop {
      padding: rem-calc(16) 0;
      border-bottom: 1px solid $black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      &:first-child {
        padding: rem-calc(8) 0 rem-calc(16) 0 !important;
      }

      span:first-child {
        font-weight: bold;
        color: get-color(warning);
        font-size: rem-calc(32);
        line-height: rem-calc(26);
      }

      span:nth-child(2) {
        color: $dark-gray;
        font-weight: bold;
        font-size: rem-calc(16);
      }

      &--availability {
        span:first-child {
          padding: rem-calc(6) 0;
        }
        .c-field-availability {
          font-size: rem-calc(20);
        }
      }
    }

    * {
      transition: all .2s ease-in-out;
    }

    @include hover-focus() {
      img {
        transform: scale(1.1);
      }
    }
  }
}
