@import 'beer/index';
@import 'cocktails/index';

.c-cocktails-teaser,
.c-slushee-teaser {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__price {
    font-size: rem-calc(24);
    font-weight: 600;
  }
}
