.o-btn {
  cursor: pointer;
  display: inline-block;
  padding: rem-calc(16) rem-calc(24);
  margin: rem-calc(12);
  text-transform: uppercase;
  transition: $project-transition;
  font-family: 'ssnickson', sans-serif;
  border-radius: 25px;
  font-size: rem-calc(42);
  cursor: pointer;
  line-height: rem-calc(48);

  a {
    color: inherit;
  }

  @include hover-focus() {
    text-decoration: none;
  }

  &--primary {
    background-color: $black;
    color: $white !important;

    @include hover-focus() {
      color: get-color(tertiary) !important;
    }
  }

  &--secondary {
    background-color: transparent;
    color: $white !important;

    @include hover-focus() {
      background-color: $dark-gray;
    }
  }

  &--tertiary {
    background-color: $black;
    border: 0;
    color: $white !important;

    @include hover-focus() {
      background-color: $dark-gray;
    }
  }

  &--gold {
    background-color: get-color(tertiary);
    border: 0;
    color: $black !important;

    @include hover-focus() {
      background-color: $dark-gray;
    }
  }

  &--large {
    padding: rvr(1) rvr(1.5);
    font-size: 30px;
    font-weight: bold;
  }

  &--small {
    padding: rem-calc(8);
    font-size: 24px;
    line-height: 1;
  }

  &--active {
    background-color: get-color(tertiary);

    a {
      color: $white !important;
      text-decoration: none;
    }
  }

  &.is-disabled {
    background-color: $light-gray;
    color: $medium-gray;
    cursor: not-allowed;
    pointer-events: all !important;

    @include hover-focus() {
      background-color: $light-gray;
      color: $medium-gray;
    }
  }
}

.button {
  margin: 0;

  .success {
    @extend .o-btn;
  }
}

.draw-border {
  @include btn-border-drawing($black, get-color(tertiary), 4px, bottom, right);
}
