// @file color-loop.scss
// color loop styles

// Background Color Map
// color-name: (
//   bg
//   fg
//   link
//   link-hover
//   headings
//   subheadings
// )
$background-color-map: (
  none: (
    bg: transparent,
    fg: $black,
    link: $link-color,
    link-hover: $link-hover-color,
    headings: $black,
    subheadings: $text-gray,
  ),

  white: (
    bg: $white,
    fg: $black,
    link: $link-color,
    link-hover: $link-hover-color,
    headings: $black,
    subheadings: $text-gray,
  ),

  dark-gray: (
    bg: $dark-gray,
    fg: $white,
    link: $white,
    link-hover: $medium-gray,
    headings: $white,
    subheadings: $text-gray,
  ),

  black: (
    bg: $black,
    fg: $white,
    link: $light-gray,
    link-hover: $medium-gray,
    headings: $white,
    subheadings: $text-gray,
  ),

  light-gray: (
    bg: $light-gray,
    fg: $black,
    link: $link-color,
    link-hover: $black,
    headings: $black,
    subheadings: $text-gray,
  ),

  medium-gray: (
    bg: $medium-gray,
    fg: $black,
    link: $link-color,
    link-hover: $black,
    headings: $white,
    subheadings: $white,
  ),

);

@each $class, $colors in $background-color-map {
  // Layout styles
  .t-layout-background--#{"" + $class} {
    @include traverse-color-map($class);
  }
}

// Loop over background colors separately so that components can override
// their section layout color. If they are included in the same color loop then
// the color order in the colors array would determine the specificty.
@each $class, $colors in $background-color-map {
  // Component styles
  .t-background--#{"" + $class} {
    @include traverse-color-map($class);
  }
}
