// Simple Responsive Vertical Rhythm implementation
// Large screens take line height base multiplied by 1rem
// Small screens get that value cut in half
:root {
  --lh__base: 1.625;
  --rvr-multiplier: 0.5rem;

  @include breakpoint(large up) {
    --rvr-multiplier: 1rem;
  }
}

// Responsive vertical rhythm
@function rvr($multiple) {
  @return calc(var(--lh__base) * #{$multiple} * var(--rvr-multiplier));
}

// Vertical rhythm - constant all screen sizes
@function vr($multiple) {
  @return calc(var(--lh__base) * #{$multiple} * 1rem);
}

/// color-pallete() =
/// Used for easier access of background color map
/// @author jcaldwell
/// @param $color Named color key present in $background-color-map
/// @param $value A property present in $background-color-map
///
/// @example scss - Usage
///   .class {
///     background-color: color-palette(white, bg);
///   }
///
/// @example css - Output
///   .class {
///     background-color: #ffffff;
///   }
///


@function color-palette($color, $value: 'bg') {

  @if map-has-key(map-get($background-color-map, $color), $value) {
    @return map-get(map-get($background-color-map, $color), $value);
  }

  @else {
    @return null;
  }
}
