nav.top-bar {
  position: relative;
  border-bottom: 2px solid white;

  .top-bar-left {
    @include breakpoint(medium down) {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
  }

  img {
    max-width: 75px;
    z-index: 10;
    @include breakpoint(medium up) {
      max-width: 160px;
      position: absolute;
      left: 5%;
      top: 100%;
      transform: translateY(-50%);
      background-color: $black;
      border-radius: 50%;
      margin: 0;
    }
  }

  .menu.vertical {
    align-items: center;
  }

  a:not(.site-logo) {
    background: none;
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'Ruda', sans-serif;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
    font-weight: 700;
    padding: 0;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: get-color(warning);
      content: '';
      opacity: 0;
      transition: opacity 0.3s, transform 0.3s;
      transform: translateY(-10px);
    }

    &::before {
      top: -5px;
      transform: translateY(-10px);
    }

    &::after {
      bottom: -5px;
      transform: translateY(10px);
    }

    &:hover,
    &:focus {
      color: $white;
    }

    &.is-active::before,
    &.is-active::after {
      background-color: rgba(255,255,255,0.3);
    }

    &.is-active::before,
    &.is-active::after,
    &:hover::before,
    &:focus::before,
    &:hover::after,
    &:focus::after {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
