.top-bar {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: rem-calc(16) rem-calc(24) rem-calc(16) rem-calc(175);
  margin: 0;

  &__cart {
    margin-left: auto;
  }

  &__logo {
    display: none;

    @include breakpoint(medium up) {
      position: absolute;
      left: rem-calc(32);
      top: rem-calc(16);
      z-index: 10;

      display: block;

      width: rem-calc(150);
      margin: 0;
    }
  }

  a:not(.site-logo):not(.cart-block--link__expand) {
    background: none;
    position: relative;
    display: inline-block;
    margin: 0 rem-calc(10) !important;
    outline: none;
    color: $white;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: $font-family-ssnickson;
    font-size: rem-calc(35) !important;
    font-weight: 300;
    padding: 0;
    font-size: rem-calc(18);

    &:hover,
    &:focus,
    &.is-active {
      color: get-color(tertiary);
    }
  }

  .is-dropdown-submenu {
    z-index: 15;
    width: max-content;
  }

  .is-submenu-item {
    padding: rem-calc(8);
  }
}

.site-log--mobile {
  svg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
  }
}

.block-mirrortwin-main-menu {
  position: relative;
  z-index: 10;

  // Simulate edge to edge background
  &::before,
  &::after {
    @include breakpoint(medium up) {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      bottom: 0;
      left: -4800px;
      width: 9600px;
      background: get-color(primary);
      z-index: -1;
    }
  }

  @include breakpoint(medium down) {
    display: none;
  }
}

.c-header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;

  &-wrapper {
    z-index: 10;
  }

  @include breakpoint(large up) {
    display: none;
  }

  img {
    width: 50px;
    margin-right: rem-calc(12);
  }

  .c-header__hamburger {
    --mb-bar-height: #{rem-calc(4)};
    --mb-bar-spacing: #{rem-calc(6)};
    --mb-bar-width: 0.4;
    width: rem-calc(40);
    height: rem-calc(60);

    b {
      border-radius: 0;
    }

  }
}
