nav.top-bar {
  position: relative;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  padding: 0 rem-calc(24);
  margin-top: rvr(2);
  margin-bottom: rvr(1);
  border-top: solid 5px $dark-gray;
  border-bottom: solid 5px $dark-gray;

  .top-bar-left,
  .top-bar-right,
  .top-bar-middle {
    margin: 0;
  }

  .top-bar-left,
  .top-bar-right {
    flex: 1;
    display: flex;
  }

  .top-bar-middle {
    width: 150px;
    position: relative;
  }

  .top-bar-left {
    justify-content: flex-end;
  }

  .top-bar-right {
    justify-content: flex-start;
  }

  img {
    display: none;

    @include breakpoint(medium up) {
      display: block;
      position: absolute;
      width: 150px;
      z-index: 10;
      transform: translateY(-50%);
      background-color: $black;
      border-radius: 50%;
      border: solid 5px $dark-gray;
      margin: 0;
    }
  }

  a:not(.site-logo) {
    background: none;
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: $white;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'voltage', sans-serif;
    padding: 0;
    font-size: rem-calc(24);

    &:hover,
    &:focus,
    &.is-active {
      color: get-color(warning);
    }
  }

  .is-dropdown-submenu {
    z-index: 15;
  }
}

.block-mirrortwin-main-menu {
  @include breakpoint(medium down) {
    display: none;
  }
}

.c-header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;

  @include breakpoint(large up) {
    display: none;
  }

  img {
    width: 50px;
    margin-right: rem-calc(12);
  }

  .c-header__hamburger {
    --mb-bar-height: #{rem-calc(4)};
    --mb-bar-spacing: #{rem-calc(6)};
    --mb-bar-width: 0.4;
    width: rem-calc(40);
    height: rem-calc(60);

    b {
      border-radius: 0;
    }

  }
}
