nav.top-bar {
  position: relative;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  padding: rem-calc(16) rem-calc(24);

  .top-bar-left,
  .top-bar-right,
  .top-bar-middle {
    margin: 0;
    flex: inherit;
  }

  .top-bar-middle {
    width: 100px;
    position: relative;
  }

  img {
    display: none;

    @include breakpoint(medium up) {
      display: block;
      position: absolute;
      width: 100px;
      z-index: 10;
      transform: translateY(-28%);
      background-color: $black;
      border-radius: 50%;
      margin: 0;
    }
  }

  .menu.vertical {
    align-items: center;
  }

  a:not(.site-logo) {
    background: none;
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Ruda', sans-serif;
    font-weight: 700;
    padding: 0;

    &:hover,
    &:focus,
    &.is-active {
      color: get-color(warning);
    }
  }
}

.title-bar-title {
  margin-bottom: 0;
  margin-left: rem-calc(8);
}

.title-bar-logo {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;

  img {
    width: 50px;
    margin-right: rem-calc(12);
  }
}

.menu-icon {
  width: 45px;
  height: 45px;
  position: relative;
  margin: 5px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  &::after {
    content: none !important;
  }

  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: get-color(warning);
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(even) {
      left: 50%;
      border-radius: 0 9px 9px 0;
    }

    &:nth-child(odd) {
      left: 0px;
      border-radius: 9px 0 0 9px;
    }

    &:nth-child(1),
    &:nth-child(2) {
      top: 8px;
    }

    &:nth-child(3),
    &:nth-child(4) {
      top: 20px;
    }

    &:nth-child(5),
    &:nth-child(6) {
      top: 32px;
    }
  }

  &.open {
    span {
      &:nth-child(1),
      &:nth-child(6) {
        transform: rotate(45deg);
      }

      &:nth-child(2),
      &:nth-child(5) {
        transform: rotate(-45deg);
      }

      &:nth-child(1) {
        left: 5px;
        top: 14px;
      }

      &:nth-child(2) {
        left: calc(50% - 5px);
        top: 14px;
      }

      &:nth-child(3) {
        left: -50%;
        opacity: 0;
      }

      &:nth-child(4) {
        left: 100%;
        opacity: 0;
      }

      &:nth-child(5) {
        left: 5px;
        top: 27px;
      }

      &:nth-child(6) {
        left: calc(50% - 5px);
        top: 27px;
      }
    }
  }

}
