table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  td {
    vertical-align: middle !important;

    img {
      max-width: 150px !important;
    }

    @include breakpoint(medium down) {
      display: block;
    }

    &.is-active {
      background-color: inherit;
    }
  }

  thead tr {
    background-color: $dark-gray;
    color: #ffffff;
    text-align: left;

    @include breakpoint(medium down) {
      display: none;
    }
  }

  th,
  td {
    padding: 12px 15px;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  tbody tr:last-of-type {
    border-bottom: 2px solid $dark-gray;
  }
}

