table {
  border-collapse: collapse;
  margin: 10px 32px 32px;
  font-size: 0.9em;
  min-width: 300px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  max-width: $project-subsection-max-width;

  .row & {
    margin: auto;
  }

  tbody {
    background-color: transparent;
  }

  caption {
    text-align: center;
    font-size: rem-calc(20);
  }

  td {
    vertical-align: middle !important;

    img {
      max-width: 150px !important;
    }

    &.is-active {
      background-color: inherit;
    }
  }

  thead tr {
    background-color: $dark-gray;
    color: #ffffff;
    text-align: left;

    @include breakpoint(medium down) {
      display: none;
    }
  }

  th,
  td {
    padding: 12px 15px;
  }

  tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  tbody tr:last-of-type {
    border-bottom: 2px solid $dark-gray;
  }

  tfoot {
    td {
      text-align: center;
    }
  }
}

