// Font weight
.u-fw {
  &__medium {
    font-weight: $global-weight-normal;
  }

  &__bold {
    font-weight: $global-weight-bold;
  }
}

/*
  Elements - Typography
 */

h1,
.h1 {
  font-size: rem-calc(80);
  line-height: (46/36);
  font-weight: $global-weight-bold;
  font-family: 'voltage', sans-serif;
}

h2,
.h2 {
  font-size: rem-calc(64);
  line-height: (34/24);
  font-weight: $global-weight-semi-bold;
  font-family: 'voltage', sans-serif;
}

h3,
.h3 {
  font-size: rem-calc(40);
  line-height: 1.25;
  font-weight: $global-weight-semi-bold;
  font-family: 'voltage', sans-serif;
}

h4,
.h4 {
  font-size: rem-calc(30);
  line-height: 1.25;
  font-weight: $global-weight-normal;
  font-family: 'Roboto', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}
