{#
/**
 * @file
 * Custom user login page for Mirrortwin theme.
 *
#}
{% extends "page.html.twig" %}

{% block content %}
	<div class="row u-vr__mt--3 u-vr__mb--5 u-vr__mx--5">
    <div class="columns">
      {{ page.content }}
    </div>
  </div>
{% endblock %}

