<h3>Cocktails at 723</h3>
<div class="info address u-vr__mb--1">
  <a href="https://goo.gl/maps/oriZ621tnwnE8cVT9" target="_blank" class="footer-address-icon-link">
    <i class="fas fa-map-marker-alt fa-2x"></i>
  </a>
  <address>
    <p>
      723 National Ave,<br>
      Lexington, KY 40502
    </p>
  </address>
</div>
<div class="info hours u-vr__mb--1">
  Mon-Thu  |   4 PM-11 PM<br>
  Fri-Sun  |  11 AM-11 PM
</div>
