<div class="columns">
  <h4><strong>Mirror Twin Brewing</strong></h2>
  <a href="{{ path('<front>') }}" rel="home" class="site-logo">
    <img src="{{ base_path ~ directory }}/logo.svg" alt="{{ 'Home'|t }}" />
  </a>
</div>
