<h4>
  <strong>Visit Us!</strong>
</h4>
<div class="info address">
  <a href="https://goo.gl/maps/TTMaFSWPg4eRTNc37" target="_blank" class="footer-address-icon-link">
    <i class="fas fa-map-marker-alt fa-2x"></i>
  </a>
  <address>
    <p>
      725 National Ave,<br>
      Lexington, KY 40502
    </p>
  </address>
</div>
<div class="info hours">
  <table>
    <tbody>
      <tr>
        <td>Sun-Sat</td>
        <td>11 AM-11 PM</td>
      </tr>
    </tbody>
  </table>
</div>
<p>Have a question?
  <a href="/contact">Contact us</a>
  |
  <a href="https://www.google.com/maps/place/Mirror+Twin+Brewing/@38.040447,-84.478465,15z/data=!4m2!3m1!1s0x0:0x44ca707f3a80bdb?sa=X&ved=2ahUKEwiRl9bPlOftAhWQW80KHWLND64Q_BIwDXoECBcQBQ">View map</a><br></p>

