<h3>Main Location</h3>
<div class="info address u-vr__mb--1">
  <a href="https://goo.gl/maps/p1tsSQEKuGTCMuhDA" target="_blank" class="footer-address-icon-link">
    <i class="fas fa-map-marker-alt fa-2x"></i>
  </a>
  <address>
    <p>
      725 National Ave,<br>
      Lexington, KY 40502
    </p>
  </address>
</div>
<div class="info hours u-vr__mb--1">
  Sun-Sat  |  11 AM-11 PM
</div>
