.c-beer {
  width: 80%;
  margin: auto;

  &__prop {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: rvr(0.33);

    &-label {
      font-weight: 700;
      text-transform: capitalize;
      width: 200px;
      color: get-color(warning);
    }
  }
}
