.c-beer-featured {
  width: 100%;
  overflow: hidden;

  @include breakpoint(medium up) {
    max-height: 450px;
  }

  &__wrapper {
    position: relative;

    @include hover-focus() {
      &::before {
        opacity: .25;
      }

      img {
        transform: scale(1.1);
      }
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #000;
      opacity: .45;
      transition: .35s opacity ease;
      pointer-events: none;
    }

    img {
      transition: .35s all ease;
      width: 100%;
    }

    a {
      width: 100%;
    }

    .h3 {
      line-height: rem-calc(32);
    }
  }

  &__block-label,
  &__name {
    position: absolute;
    text-align: center;
    padding: 0 rvr(2);
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    color: $white;
    pointer-events: none;
  }

  &__block-label {
    top: 35%;

    @include breakpoint(medium up) {
      top: 45%;
    }
  }

  &__name {
    text-transform: uppercase;
    font-size: rem-calc(20);
    top: 65%;
    line-height: rem-calc(24);

    @include breakpoint(medium up) {
      top: 55%;
    }

    .c-view-can-drop-latest & {
      @include breakpoint(medium down) {
        top: 55%;
      }
    }
  }
}
