.c-beer-latest-can-hero {

  &__content {
    display: flex;
    flex-direction: column;
    font-family: $font-family-ssnickson;
    text-align: left !important;
    padding: 0 rvr(1);

    @include breakpoint(medium up) {
      position: absolute;
      top: 10%;
      left: 10%;
      padding: 0;
      padding: rvr(1);
    }
  }

  &__just-dropped {
    color: $dark-gray !important;
    position: relative;
    font-size: 40px;
    padding: rvr(1) 0;
    margin-bottom: rvr(0.5);

    @include breakpoint(medium up) {
      color: $white !important;
      padding: rvr(2) 0;
      max-width: 300px;
      line-height: 0.7;
      font-size: 80px;
    }


    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 10px;
      background-color: $dark-gray;
    }
  }

  &__title {
    color: $dark-gray;
    font-size: 30px;
    line-height: 1;

    @include breakpoint(medium up) {
      max-width: 300px;
      font-size: 48px;
    }
  }

  .o-btn {
    margin: 0 !important;
    width: 150px;
    text-align: center;
    background-color: $dark-gray !important;
  }
}
