.c-beer-on-tap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: rem-calc(24);
  align-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: rvr(1);

  @include breakpoint(medium up) {
    flex-direction: row;
    justify-content: center;
  }

  &__label {
    font-weight: $global-weight-bold;
  }

  &__style,
  &__abv {
    font-size: rem-calc(16);

    @include breakpoint(medium up) {
      font-size: rem-calc(24);
      margin-left: rvr(1);
    }
  }
}
