.c-beer-spinning-bottle {
  text-align: center;
  overflow: hidden;
  // width: 330px;
  margin: rvr(1);
  color: $white !important;

  h2 {
    font-family: $font-family-bebas !important;
    margin-top: 20px;
  }

  .c-field-label-image,
  &__default-image {
    height: 315px;
  }

  &__default-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__blank-can {
    opacity: 0;
    position: absolute;
    // left: -47px;
    // right: 0;
    // bottom: 0;
    // z-index: -1;
    // top: -6px;
    // width: 425px;
    // max-width: none;
    // height: 313px;
  }
  .animated-can-container {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    perspective: 900px;
    position: absolute;
    top: 26px;
  }
  
  .animated-can-container:hover * {
    @include breakpoint(medium up) {
      animation-play-state: running;
    }
  }
  
  .animated-can-frame {
    width: 15px;
    transform-style: preserve-3d;
    /* translate must be last */
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(0px, 0px, 50px);
    margin: auto;
  
    // 2475 x 1500
    // 396x240
  
  }
  
  .strip {
    transform-style: preserve-3d;
  
    @include breakpoint(medium down) {
      animation: spin 8s infinite linear;
    }
  
    @include breakpoint(medium up) {
      &:hover {
        animation: spin 8s infinite linear;
      }
    }
  
  
    div {
      position: absolute;
      height: 240px;
      width: 16.3px;
      opacity: 1;
      background-color: #000;
    }
  
    .a {
      background-position: 0 0;
      transform: rotateY(180deg) translateZ(59px);
    }
  
    .b {
      background-position: calc(23 * 16.5px) 0;
      transform: rotateY(195deg) translateZ(59px);
    }
  
    .c {
      background-position: calc(22 * 16.5px) 0;
      transform: rotateY(210deg) translateZ(59px);
    }
  
    .d {
      background-position: calc(21 * 16.5px) 0;
      transform: rotateY(225deg) translateZ(59px);
    }
  
    .e {
      background-position: calc(20 * 16.5px) 0;
      transform: rotateY(240deg) translateZ(59px);
    }
  
    .f {
      background-position: calc(19 * 16.5px) 0;
      transform: rotateY(255deg) translateZ(59px);
    }
  
    .g {
      background-position: calc(18 * 16.5px) 0;
      transform: rotateY(270deg) translateZ(59px);
    }
  
    .h {
      background-position: calc(17 * 16.5px) 0;
      transform: rotateY(285deg) translateZ(59px);
    }
  
    .i {
      background-position: calc(16 * 16.5px) 0;
      transform: rotateY(300deg) translateZ(59px);
    }
  
    .j {
      background-position: calc(15 * 16.5px) 0;
      transform: rotateY(315deg) translateZ(59px);
    }
  
    .k {
      background-position: calc(14 * 16.5px) 0;
      transform: rotateY(330deg) translateZ(59px);
    }
  
    .l {
      background-position: calc(13 * 16.5px) 0;
      transform: rotateY(345deg) translateZ(59px);
    }
  
    .m {
      background-position: calc(12 * 16.5px) 0;
      transform: rotateY(0deg) translateZ(59px);
    }
  
    .n {
      background-position: calc(11 * 16.5px) 0;
      transform: rotateY(15deg) translateZ(59px);
    }
  
    .o {
      background-position: calc(10 * 16.5px) 0;
      transform: rotateY(30deg) translateZ(59px);
    }
  
    .p {
      background-position: calc(9 * 16.5px) 0;
      transform: rotateY(45deg) translateZ(59px);
    }
  
    .q {
      background-position: calc(8 * 16.5px) 0;
      transform: rotateY(60deg) translateZ(59px);
    }
  
    .r {
      background-position: calc(7 * 16.5px) 0;
      transform: rotateY(75deg) translateZ(59px);
    }
  
    .s {
      background-position: calc(6 * 16.5px) 0;
      transform: rotateY(90deg) translateZ(59px);
    }
  
    .t {
      background-position: calc(5 * 16.5px) 0;
      transform: rotateY(105deg) translateZ(59px);
    }
  
    .u {
      background-position: calc(4 * 16.5px) 0;
      transform: rotateY(120deg) translateZ(59px);
    }
  
    .v {
      background-position: calc(3 * 16.5px) 0;
      transform: rotateY(135deg) translateZ(59px);
    }
  
    .w {
      background-position: calc(2 * 16.5px) 0;
      transform: rotateY(150deg) translateZ(59px);
    }
  
    .x {
      background-position: calc(1 * 16.5px) 0;
      transform: rotateY(165deg) translateZ(59px);
    }
  }
  
  
  
  @keyframes spin {
    from {
      transform: rotateY(0);
    }
  
    to {
      transform: rotateY(-360deg);
    }
  }
}


