.c-beer-teaser {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  text-align: left;

  &__title {
    font-size: rem-calc(32) !important;
    font-family: 'Bebas Neue', cursive !important;
    line-height: 1;
    margin-bottom: 0px !important;
    color: get-color(primary) !important;
  }

  &__style {
    display: flex;
    flex-flow: row nowrap;

    margin-bottom: rem-calc(10);

    font-size: rem-calc(28) !important;
    font-family: 'Bebas Neue', cursive;
    line-height: 1;
    color: get-color(secondary);
  }

  * {
    transition: all .2s ease-in-out;
  }
}
