.c-view-beer {
  a {
    @include hover-focus() {
      color: $black !important;
    }
  }

  &--on_tap_by_locations {
    justify-content: center;
  }

  &--block_2 {
    display: column;
    max-width: 900px !important;
    margin: auto !important;

    h3 {
      @include section-title();
    }
  }
}

.c-views-blocklatest-mirror-monday-block-1,
.c-views-blockcan-drop-latest-block-1 {
  padding: 0;
}
