.c-view-beer {
  a {
    @include hover-focus() {
      color: $black !important;
    }
  }
}

.c-views-blocklatest-mirror-monday-block-1 {
  @include breakpoint(large up) {
    padding-right: rvr(1) !important;
  }
}
.c-views-blockcan-drop-latest-block-1 {
  @include breakpoint(large up) {
    padding-left: rvr(1) !important;
  }
}
