.c-view-spirits {
  justify-content: center;

  h2 {
    width: 100%;
    text-align: center;
  }

  table {
    td:nth-child(2) {
      width: 100px;
      text-align: center;
    }
  }
}

.c-view-spirits-anchor-bar {
  .item-list {
    width: 100%;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      padding: rem-calc(16) rem-calc(24);
      background-color: $black;
      border-radius: 25px;
      transition: $project-transition;
      margin: rem-calc(12);
      font-family: 'ssnickson', sans-serif;
      font-size: rem-calc(60);
      cursor: pointer;
      line-height: rem-calc(48);

      a {
        color: $white !important;
      }

      @include hover-focus() {
        background-color: get-color(tertiary);
      }
    }
  }
}
