.c-view-spirits {
  flex-direction: column;
  max-width: 900px !important;
  margin: auto !important;

  h2 {
    @include section-title();
  }

  h3 {
    width: 50%;
    padding: rem-calc(8);
    margin: rvr(1) 0;
    background-color: $black;
    color: $white;
    font-family: $font-family-bebas;
    text-align: center;
  }

  .views-field-title {
    font-size: rem-calc(34);
    line-height: rem-calc(40);
    font-family: $font-family-bebas;

    + div {
      font-size: rem-calc(28);
      line-height: rem-calc(40);
      font-family: $font-family-bebas;
      color: $text-gray;
    }
  }
}

.c-view-spirits-anchor-bar {
  .item-list {
    width: 100%;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      @include hover-focus() {
        background-color: get-color(tertiary);
      }

      a {
        color: $white !important;
      }
    }
  }
}
