{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% if content %}

    {% if settings.hero %}
    {# If the hero mode is enabled remove container. #}
      <div{{ attributes }}>
        {{ content.first }}
      </div>
    {% else %}
      <div class="l-container">
        <div{{ attributes.addClass('row') }}>
          {{ content.first }}
        </div>
      </div>
    {% endif %}

{% endif %}
