.c-form {
  .form-checkboxes {
    .form-item {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__label {
    font-weight: 500;
    display: block;
  }

  .form-select {
    width: 70%;
    height: 50px;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0;
    border: $border;
    background-color: $white;
    color: get-color(primary);
    padding: 10px;
    appearance: none;
    transition: all ease 0.5s;

    @include hover-focus() {
      color: darken(get-color(primary), 20%);
      background-color: get-color(tertiary);
      border-bottom-color: get-color(primary);
    }

    /* For IE <= 11 */
    &::-ms-expand {
      display: none;
    }

  }

  &__element {
    position: relative;

    &--search-input {
      display: flex;
      flex-grow: 1;
      padding: rvr(1);

      input {
        width: 100%;
        min-width: 0; // prevent firefox overflow issue.
      }
    }

    .description {
      margin-top: rem-calc(8);
    }

    &.form-item-lang-dropdown-select {
      display: flex;
      width: 50%;

      @include breakpoint(large up) {
        margin: 0;
        justify-content: end;
        width: 75%;
        margin-left: auto;
      }
    }
  }

  .form-wrapper {
    margin-top: 0;
    margin-bottom: rvr(1);
  }

  legend .fieldset-legend {
    font-size: rem-calc(24) !important;
    font-weight: 800;
  }

  textarea {
    border: $border;
    color: get-color(primary);
    font-weight: 500;
    padding: rem-calc(8) rem-calc(16);
  }

  &__text,
  .sq-input {
    box-sizing: border-box !important;
    border: $border;
    font-weight: 500;
    color: get-color(primary);
    line-height: 1.5;
    text-align: left !important; // Prevent number fields from being right aligned
    height: rem-calc(48);
    max-width: 100%;
    min-width: 0;
    padding: rem-calc(8) rem-calc(16);
  }

  // styles implemented from https://css-tricks.com/the-checkbox-hack/
  &__checkbox {
    position: absolute;
    left: rem-calc(-9999);

    + label {
      cursor: pointer;
      display: inline-block;
      position: relative;
      font-size: rem-calc(16);
      line-height: 2;
      margin-bottom: rem-calc(5);
      padding-left: rem-calc(36);

      @include hover-focus() {
        font-weight: 800;
      }

      &::before {
        content: '';
        position: absolute;
        left: rem-calc(0);
        top: rem-calc(2);
        background: #fff;
        border: $border;
        height: rem-calc(25);
        width: rem-calc(25);
      }

      &::after {
        content: '\2713\0020';
        position: absolute;
        left: rem-calc(7);
        top: rem-calc(8);
        color: get-color(primary);
        line-height: 0.8;
        transition: all 0.2s;
      }
    }

    &:not(:checked) + label::after {
      opacity: 0;
      transform: scale(0);
    }

    &:checked + label {
      color: get-color(tertiary);
      font-weight: 800;

      &::after {
        opacity: 1;
        transform: scale(1);
      }

      &::before {
        background-color: get-color(tertiary);
        border: rem-calc(2) solid get-color(tertiary);
      }
    }
  }

  &__select {
    appearance: none;
    border: $border;
    border-radius: $border-radius * 2;
    height: rem-calc(48);
    width: 100%;
    padding: rem-calc(12) rem-calc(16);

    &::-ms-expand {
      display: none;
    }

    svg {
      font-size: rem-calc(25);
      color: get-color(secondary);
      position: absolute;
      right: rem-calc(50);
      top: rem-calc(45);
    }
  }

  // styles implemented from a modified version of https://codepen.io/AngelaVelasquez/pen/Eypnq
  &__radio {
    position: absolute;
    visibility: hidden;

    // Text label
    ~ label {
      cursor: pointer;
      display: inline-block;
      position: relative;
      font-size: rem-calc(16);
      line-height: 2;
      margin-bottom: rem-calc(5);
      padding-left: rem-calc(32);
      height: rem-calc(32);
      width: 100%;
      z-index: 10;
    }

    // Outer circle radio element
    &--fake {
      display: block;
      position: absolute;
      top: rem-calc(2);
      left: 0;
      border: $border;
      border-radius: 100%;
      background-color: $white;
      height: rem-calc(25);
      width: rem-calc(25);
      z-index: 5;
      transition: background 0.25s linear;

      // Inner circle
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: rem-calc(6);
        left: rem-calc(6);
        border-radius: 100%;
        background-color: $white;
        height: rem-calc(11);
        width: rem-calc(11);
      }
    }

    &:checked {
      + .c-form__radio--fake {
        background-color: get-color(primary);
      }

      ~ label {
        color: get-color(primary);
        font-weight: 800;
      }
    }
  }

  // HTML 5 widgets
  &__date,
  &__time,
  &__datetime {
    border: $border;
    border-radius: $border-radius;
    box-sizing: border-box !important;
    color: get-color(primary);
    font-weight: 500;
    height: rem-calc(48);
    padding: rem-calc(8) rem-calc(16);

    ~ svg {
      display: none;
    }
  }
}

.contact-message-feedback-form {
  margin: rvr(3) 0;
   max-width: 800px;;
}

.contact-message-feedback-form {
  margin: rvr(3) auto;
  max-width: 800px;
}

.views-field-edit-quantity {
  .c-form__text,
  .c-form__element {
    margin-bottom: 0 !important;
  }
}
